[submodule "AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/BackEnd/OpenAIGateway"]
	path = AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/BackEnd/OpenAIGateway
	url = git@github.com:ACS-SampleProjects/OpenAIGateway.git
[submodule "AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/BackEnd/--force"]
	path = AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/BackEnd/--force
	url = git@github.com:ACS-SampleProjects/OpenAIGateway.git
[submodule "AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/--Back-End"]
	path = AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/--Back-End
	url = git@github.com:ACS-SampleProjects/OpenAIGateway.git
[submodule "AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/Back-End"]
	path = AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/Back-End
	url = git@github.com:ACS-SampleProjects/OpenAIGateway.git
[submodule "AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/Front-End"]
	path = AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/Front-End
	url = https://github.com/elavarasidc/communication-services-javascript-quickstarts
[submodule "AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/FrontEnd"]
	path = AI/Calling/AI-Enhanced-CustomerSupport-And-BusinessInsights/FrontEnd
	url = git@github.com:ACS-SampleProjects/communication-services-web-calling-tutorial.git
